{% block content %}

{%for file in files %}
    <p>
        Name: {{ file.name }}
        <br/>
        <a href="/media/{{ file.file }}">Download</a>
    </p>
{% endfor %}

<p>
	<a href="/upload/">Load More</a>
</p>

{% endblock content %}