{% block content %}
    <form action="/upload/" method="post" enctype="multipart/form-data">
    	{% csrf_token %}
    	<input type="text" name="name">
    	<br/>
        <input type="file" name="file">
        <br/>
        <input type="submit" name="Ok", value="Ok">
    </form>
{% endblock content %}
